{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^@/(.*).css$",
    "^@?react(/.*)?$",
    "^@?next(/.*)?$",
    "^@?next-auth(/.*)?$",
    "^@?prisma(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^@/(types|lib|config)?/(.*)$",
    "^@/(server)?/(.*)$",
    "^@/(components|providers)?/(.*)$",
    "^@/(app)?/(.*)$",
    "^[./]"
  ]
}
